{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    <main class="posts photos">
        {{ partial "generic-list-header.html" . }}

        <hgroup class="post-title">
            <h1>
                {{ with .Params.emoji }}<span data-emoji="{{.}}"></span>{{end}}
                <a href="{{ .Permalink }}" class="noaccent u-url">{{ title (replace .Title "-" " ") }}</a>
            </h1>
        </hgroup>

        {{ if .Content }}
            <div class="content" data-pagefind-body>{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{- range .Pages -}}
                        <li class="post-item">{{- "" -}}
                            <a href="{{.Permalink}}">
                              {{- $firstMedia := index .Params.Media 0 -}}
                              <img src="{{.Permalink}}{{ $firstMedia.url }}" {{ with $firstMedia.alt }}alt="{{ . }}"{{ end }} />{{- "" -}}
                            </a>{{- "" -}}
                        </li>
                    {{- end -}}
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
