{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}
    
    {{/* Ignore entirely from search, as we want to index the individual notes, not this stream */}}
    <main class="posts" data-pagefind-ignore="all">
        {{ partial "generic-list-header.html" . }}

        <hgroup class="post-title">
            <h1 class="p-name">
                {{ with .Params.emoji }}<span data-emoji="{{.}}"></span>{{end}}
                <a href="{{ .RelPermalink }}" class="noaccent u-url">{{ title (replace .Title "-" " ") }}</a>
            </h1>
            {{ partial "alternates.html" . }}
        </hgroup>

        {{ if .Content }}
            <div class="content" data-pagefind-body data-pagefind-filter="type:{{.Type | title}}">{{ .Content }}</div>
        {{ end }}

        
        <div class="posts-list">
          {{ range $paginator.Pages }}
            <hr />
            <article class="post-content e-content">
              {{ .Content }}
              <footer>
                <a href="{{.RelPermalink}}">{{ partial "year-relative-date.html" .Date }}</a>
                {{ if collections.In .Params.tags "from-twitter" }}{{ partial "svg.html" (dict "name" "twitter") }}{{ end }}
              </footer>
            </article>
          {{ end }}
          </div>
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
