{{ define "main" }}
    <main class="posts">
        <h1>{{ title (replace .Title "-" " ") }}</h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ $tags := slice }}
        <div class="side-by-side">
            <div class="double">
                {{ range .Pages }}
                    {{ if gt (len .Pages) 0 }}
                    <div class="posts-group">
                        <div class="post-year">{{ .Params.emoji }}</div>

                        <ul class="posts-list">
                            <li class="post-item">
                                <a href="{{.Permalink}}">
                                    <span class="post-title">{{.Title}}</span>
                                </a>
                            </li>
                            {{ range .Pages }}
                                {{ $tags = union $tags .Params.tags }}
                                <li class="post-item">
                                    <a href="{{.Permalink}}">
                                        <span class="post-title">{{.Title}}</span>
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                {{ end }}
            </div>

            <ol class="tags">
                {{ range (uniq (sort $tags)) }}
                    <li><a href="/tags/{{ . }}">{{ . }}</a></li>
                {{ end }}
            </ol>
        </div>
    </main>
{{ end }}
