<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    {{ block "body" . }}
        <body class="{{ with .Page.Params.stylescope }}{{ . }}{{ end }}">
    {{ end }}
        
        <div class="container">
            {{ partialCached "header.html" . }}

            <div class="content">
                {{ block "main" . }}{{ end }}
            </div>

            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        <div id="drops"></div>
        {{ partial "javascript.html" . }}
        <script type="speculationrules">{"prerender":[{"where":{"href_matches":"/*"},"eagerness":"moderate"}]}</script>
    </body>
</html>
