{{ define "main" }}
  <main class="post poetry">

    <article class="poem-{{ .Params.align }}">
        <h2 class="post-title"{{ with .Params.emoji }} data-emoji="{{.}}"{{end}}><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h2>
        
        {{ with .Summary }}
          <div class="post-summary p-summary" aria-hidden="true">{{ . }}</div>
        {{ end }}

        <div class="post-content" data-pagefind-body data-pagefind-filter="type:Poetry">
          {{ if eq .Params.align "monospace" }}
            <pre>{{.RawContent}}</pre>
          {{ else }}
            {{ .Content }}
          {{ end }}
        </div>
    </article>

    <div class="post-info">
      <p><date datetime="{{ dateFormat .Site.Params.dateformHTML .Date }}" data-pagefind-sort="date">{{ dateFormat .Site.Params.dateform .Date }}</date></p>
      <p><a href="../">back</a></p>
    </div>

  </main>
  {{ if or .Params.prev .Params.next }}
    <div class="pagination">
        <div class="pagination__buttons">
            {{ if .Params.prev }}{{ with .Site.GetPage .Params.prev }}
            <span class="button previous">
                <a href="{{ .RelPermalink }}">
                    <span class="button__icon">←</span>
                    <span class="button__text">{{ .Title }}</span>
                </a>
            </span>
            {{ end }}{{ end }}

            {{ if .Params.next }}{{ with .Site.GetPage .Params.next }} 
            <span class="button next">
                <a href="{{ .RelPermalink }}">
                    <span class="button__text">{{ .Title }}</span>
                    <span class="button__icon">→</span>
                </a>
            </span>
            {{ end }}{{ end }}
        </div>
    </div>
  {{ end }}
{{ end }}
