<div class="h-card vcard">
  <img class="profile u-photo " src="profile-512.jpg" />
  Hello! I'm <em class="u-uid p-name fn always-accented">JP Hastings-Spital</em>, a <span class="p-category category">maker</span>, <span class="p-category category">software engineer</span>, <span class="p-category category">swing dancer</span>, and all-round <span class="p-category category">miriscient chap</span> living in <span class="adr p-adr h-adr"><span class="p-locality locality">London</span>, <span class="p-country-name country-name">UK</span></span>. I'm a <span>principal engineer</a> at <a href="https://deliveroo.engineering/" target="_blank" class="h-card u-url" rel="noopener">Deliveroo</a>.
</div>

<p>{{ partial "welcome.md" | markdownify }}</p>