{{- if not .Params.bookmarkOf -}}
  {{ errorf "BookmarkOf partial called when no bookmark of param set" -}}
{{- end -}}

{{- $page := . -}}
{{- $url := .Params.bookmarkOf -}}
{{- $reference := dict -}}
{{- range .Params.references -}}
  {{- if eq .url $url -}}
    {{- $reference = . -}}
  {{- end }}
{{- end -}}
💭 Thoughts on{{" "}}
{{- with $reference.name -}}
  the article {{ partial "rich-link.html" (dict "Class" "u-bookmark-of" "Destination" $url "Text" . "Page" $page) }}.
{{- else -}}
  {{ partial "rich-link.html" (dict "Class" "u-bookmark-of" "Destination" $url "Text" (printf "an article from %s" (($url | urls.Parse).Hostname)) "Page" $page) }}
{{- end }}
