<figure class="book">
  <a href="{{ .url }}" target="_blank" title="Open book details">
    {{ $title := .title }}
    {{ with .cover }}
      <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="The cover of the book {{ $title }}">
    {{ end}}
  </a>

  <figcaption>
    <a href="{{ .url }}" target="_blank" title="Open book details">{{ .title }}</a><br />
    <span class="authors">
      {{ range .authors }}
        <a href="{{ .url }}" target="_blank">{{ .name }}</a>
      {{ end }}
    </span>
  </figcaption>
</figure>
