<figure class="film" itemscope itemtype="https://schema.org/Movie">
  <a href="{{ .url }}" target="_blank" title="Open film details" itemprop="url">
    {{ $title := .title }}
    {{ with .cover }}
      <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="The poster for the film {{ $title }}" itemprop="image">
    {{ end}}
  </a>

  <figcaption>
    <a href="{{ .url }}" target="_blank" title="Open film details" itemprop="url"><span itemprop="name">{{ .title }}</span></a> (<span itemprop="datePublished">{{ .year }}</span>)
  </figcaption>
</figure>
