<figure>
  {{ if hasSuffix .src ".mp4" }}
      <video controls loop class="u-video">
          <source src="{{.src}}" type="video/mp4">
          <img {{ if .searchmeta | default true }}data-pagefind-meta="image[src]" {{end}}src="{{ .src }}.jpg" {{ with .alt}}alt="{{ . }}" {{ end }}/>
          (Your browser can't play videos. <a href="{{.src}}">Download instead</a>.)
      </video>
  {{ else }}
      <img {{ if .searchmeta | default true }}data-pagefind-meta="image[src]" {{end}}src="{{ .src }}" class="u-photo photo" />
  {{ end }}
</figure>