{{ $main := resources.Get "js/main.js" -}}
{{- $menu := resources.Get "js/menu.js" -}}
{{- $prism := resources.Get "js/prism.js" -}}
{{- $secureJS := slice $main $menu $prism | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- if in .Params.Tags "podcast" -}}
  <script type="text/javascript" src="/js/shikwasa.js"></script>
  <link rel="stylesheet" rev="stylesheet" href="/css/shikwasa.css" media="screen">
{{- end -}}

{{- if .Param "math" -}}
  {{ partialCached "math.html" . }}
{{ end }}
