{{$title := delimit (slice "Respond via" ( .type | strings.FirstUpper)) " " }}
{{ if eq .type "" }}
  {{ $title = "See elsewhere" }}
{{ end }}
<a rel="syndication" class="u-syndication resp-syndication__link" href="{{ .link }}" target="_blank" rel="noopener" title="{{ $title }}">
  <div class="resp-syndication resp-syndication--small">
    <div aria-hidden="true" class="resp-syndication__icon resp-syndication__icon--solid">
      {{ partial "svg.html" (dict "name" .type) }}
    </div>
  </div>
</a>