{{ $mailto := delimit "mailto:" site.Author.email "?subject=Re:%20" ( .Title | htmlEscape ) "&amp;body=" (htmlEscape "Hello JP!\n\nI was reading your blog…") }}
{{ partial "syndication-ref.html" (dict "type" "email" "link" $mailto) }}

{{ range .Params.syndications }}
  {{ if hasPrefix . "https://bsky.app/" }}
    {{ partial "syndication-ref.html" (dict "type" "bluesky" "link" .) }}
  {{ else if hasPrefix . "https://hachyderm.io/" }}
    {{ partial "syndication-ref.html" (dict "type" "mastodon" "link" .) }}  
  {{ else if hasPrefix . "https://www.goodreads.com/" }}
    {{ partial "syndication-ref.html" (dict "type" "goodreads" "link" .) }}  
  {{ else }}
    {{ partial "syndication-ref.html" (dict "type" "" "link" .) }}
  {{ end }}
{{end}}
