{{ define "body" }}
    <body class="homepage {{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">
        <div>
            <h1 class="accented">{{ .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}

            {{- with .Site.Params.social }}
                <div class="social">
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
        <br />
        <hr />
        <section class="posts">
            {{ partial "about-me.html" .}}
            <hr class="mini" />
            {{ partial "post-previews.html" .}}
        </section>
    </main>
    {{ partial "site-last-update.html" }}
{{ end }}
