{{ define "main" }}    
    <main class="posts" {{ if eq .Kind "taxonomy" }}data-pagefind-ignore{{ end }}>
      {{ partial "memex-header.html" . }}
      
      <hgroup class="post-title">
        <h1 class="p-name">
            {{ with .Params.emoji }}<span data-emoji="{{.}}"></span>{{end}}
            <a href="{{ .RelPermalink }}" class="noaccent u-url">{{ title (replace .Title "-" " ") }}</a>
          </h1>
          {{ partial "alternates.html" . }}
      </hgroup>

        {{ if .Content }}
            <div class="content" data-pagefind-body data-pagefind-filter="type:{{.Type | title}}">{{ .Content }}</div>
        {{ end }}

        {{ $events := partial "events.obj" .Data.Pages }}

        {{ range $bundledEvents := $events }}
          <div class="posts-group">
            <div class="post-year">{{ (index $bundledEvents 0).Date.Format "Jan 2006" }}</div>

            <ul class="posts-list">
              {{ range $bundledEvents }}
                <li class="post-item">
                    <a href="{{.Page.RelPermalink}}">
                        {{ if .Page.Params.emoji }}<span class="post-emoji">{{ .Page.Params.emoji }}</span>{{ end }}
                        <span class="post-title">{{.Page.Title}}</span>
                        <span class="post-day">
                          {{- $hour := .Date.Format "15" -}}
                          {{- $duration := .Duration.Hours -}}
                          {{- $daytime := or (ge $duration 24) (and (gt $hour 9) (lt $hour 17)) }}
                          {{ .Date.Format "Jan 2"}} <span class="daytime">{{ if $daytime }}☀︎{{ else }}☾{{ end }}</span>
                        </span>
                    </a>
                </li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
    {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
